<table class="table-condensed table-bordered">
    <thead>
        <tr bgcolor="#a9a9a9">
          <th> Ledgers </th>
          <th> Amount </th>
        </tr>
    </thead>

    <tbody>

        <tr>
          <td> Cash </td>
          <td> <div align="right"> <%= number_to_currency(@cash, :unit => 'INR ') %> </td>

        </tr>

        <tr>
          <td> Bank </td>
          <td> <div align="right"> <%= number_to_currency(@bank, :unit => 'INR ') %> </td>
        </tr>

        <tr>
          <td> Total Amount is  </td>
          <td> <div align="right"> <strong> <%= number_to_currency(@cash + @bank, :unit => 'INR ') %> </strong> </td>
        </tr>
    </tbody>
</table>



